* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100% !important;
  overflow-x: hidden !important;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #000000;
  margin: 0;
}
/*
color de fondo:                     --- #000000
color de texto:                     --- #fcc700
colortxt hover:                     --- #c0c0c0
color de hover de contacto en nav:  --- #505050
fonde de cada plan:                 --- #272727


*/
/* INICIA CSS DE CONTACTO */

.titulo-de-contacto {
  text-align: center;
  margin-top: 10em;
  margin-bottom: 4em;
  color: #fcc700;
}

.contact {
  margin-top: 4em;
  margin-bottom: 14em;
}

.contact-form {
  width: 500px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 100px;
  padding: 20px;
  box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.3);
  position: relative;
  font-family: "Titillium Web", sans-serif;
}

.title-form {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2em;
  color: #fcc700;
}

.input-form,
.label-form,
.submit-form {
  display: block;
  width: 100%;
  font-size: 1.3em;
}

.input-form {
  padding: 20px;
  background: rgba(82, 82, 82, 0.719);
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
  color: #c0c0c0;
}

.input-form:focus {
  outline: 1px solid rgba(0, 0, 0, 0.7);
}

.input-form:focus + .label-form {
  margin-top: -138px;
}

.label-form {
  padding-left: 15px;
  position: absolute;
  margin-top: -85px;
  z-index: -20;
  color: #c0c0c0;
  transition: all 0.2s;
}

textarea {
  width: 100%;
  height: 120px;
  padding: 15px;
  margin-bottom: 15px;
  outline: none;
  resize: none;
  font-size: large;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-family: "Lato", sans-serif;
  background-color: #505050;
  color: #fcc700;
}

.submit-form {
  background: #fcc700;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  font-family: "Lato", sans-serif;
}

.pinup {
  margin-top: -138px;
}

/* FIN CSS DE CONTACTO */
